@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* shared styles */
body {
    font-family: 'Poppins', sans-serif;
}


.section-title {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.section-description {
    color: #3A3A3A;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* navigation styles */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 30px;
    color: #3A3A3A;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}


/* banner styles  */

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(80% - 50px);
    margin: auto;
}

.img1 {
    position: relative;
    bottom: 250px;
    left: 50px;

}

.img2 {
    position: relative;
    left: 50px;
    top: 200px;
}


.banner-title {
    width: 582px;
    color: #3A3A3A;
    font-size: 3.25rem;
    font-style: normal;
    font-weight: 700;
    line-height: 70px; /* 134.615% */
}

.banner-btn {
    border-radius: 41px;
    padding: 10px 24px;
    background: #E02C6D;
    color: #FFF;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
}


/* sponsor styles  */
.sponsor {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    padding: 20px 0px;
    border-top: 1px solid seashell;
    border-bottom: 1px solid seashell;
}



/* collection styles*/

.collection {
    text-align: center;
    padding: 150px 0px;
    width: 80%;
    margin: 0 auto;

}

.collection-card-container {
    display: grid;
    grid-template-columns: auto auto auto;
    
    gap: 20px;
}


.card {
    padding: 10px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}

.card-info {
    text-align: left;
    padding: 10px;
    width: 60%;
}

.more {
    text-align: right;
}

.card-title {
    color: #18191F;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 142.857% */
}

.card-price {
    color: rgba(0, 0, 0, 0.87);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 36px */
}


.card-detail {
    color: #787885;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 143%; /* 20.02px */
    letter-spacing: 0.252px;
}














/* Responsive styles  */


/* for mobile devices */
@media screen and (max-width:576px) {
    /* nav styles  */
    nav {
        flex-direction: column;
        margin-right: 10px;
        padding: 10px;
    }

    /* banner styles  */

    .banner {
        flex-direction: column-reverse;
        
    }

    .banner-img {
        width: 100%;
       
    }

    .banner-img img {
        width: 100%;
    }

    .img1 {
        position:relative;
        z-index: 10;
        left: 0;
        bottom: px;
        
    }

    .img2 {
        position: relative;
        left: 0;
        top: 5px;
        
    }

    .banner-info, .banner-title {
        text-align: center;
        width: 100%;
        margin-top: -85px;
    }
    

    .sponsor {
        width: 90%;
        margin: auto;
        flex-wrap: wrap;
        
    }

    
    /* popular styles  */
    .collection-card-container {
        grid-template-columns: auto;
    }



}


/* for medium devices */

@media screen and (min-width:576px) and (max-width:992px) {
    /* navigation styles  */
    nav {
        flex-direction: column;
        margin-right: 10px;
        padding: 10px;
    }

    /* banner styles  */
    .banner {
        flex-direction: column;
    }

    
    .banner-info {
        text-align: center;
    }

    /* popular styles  */
    .collection-card-container {
        display: grid;
        grid-template-columns: auto auto;
        
    }
}