@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

/* shared styles */
body {
    font-family: 'Poppins', sans-serif;
}


.section-title {
    color: #3A3A3A;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.section-description {
    color: #3A3A3A;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* navigation styles */
nav {
    display: flex;
    justify-content: space-around;
}

nav ul {
    display: flex;
    list-style: none;
}

nav li {
    margin-right: 30px;
    color: #3A3A3A;
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}